---
---

@import "{{ site.theme }}";

.xpage-header {
  color: #fff;
  text-align: center;
  // background-color: #c2c2d6;
  background-image: url(https://raw.githubusercontent.com/ibmmark/fabric-docs/master/IBM_Blockchain_ppt_template_visuals-02.jpg);
  background-size: 100% 60%;
  background-repeat:no-repeat;
  
  @include large {
    padding: 4rem 6rem;
  }

  @include medium {
    padding: 2rem 4rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}
